[Desktop Entry]
Type=Application
Name=File Manager
Icon=/usr/share/glacier-filemuncher/images/icon-app-filemanager.png
Exec=invoker --type=nemomobile -s /usr/bin/glacier-filemuncher
Comment=Nemo File Manager
