[Desktop Entry]
Type=Application
Name=Files
Icon=/usr/share/glacier-filemuncher/images/icon-app-filemanager.png
Exec=/usr/bin/glacier-filemuncher
Comment=Nemo File Manager
Name[ru]=Файлы
Name[cs]=Soubory
Name[de]=Dateibrowser
Name[fi]=Tiedostoselain
Name[pl]=Przeglądarka plików
Name[uk]=Браузер файлів
Name[fr]=Gestionnaire de fichiers
Name[vi]=Trình duyệt tệp
